
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <title>🔥🔥🔥</title>
    <style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
          font-size: 5vh;
            font-family: helvetica;
      }
    </style>
  </head>
  <body>
    <p>
    <center>
      The nearest 🔥 to you is: {{address}}
      <center>
  </body>
</html>

