
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon' />
    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css" /> -->
    <title>🔥🔥🔥</title>
    <style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 5vh;
        font-family: HelveticaNeue-Light;
        font-weight: 200;
      }

    </style>
  </head>
  <body>
    <p>
    <center>
    <div id="main_info">
    {{address|safe}}
    </div>
    <center>

      <!-- From https://socket.io/docs/client-api/ -->
      <!--<script src="/socket.io/socket.io.js"></script> -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript">
     var socket = io.connect('//' + document.domain + ':' + location.port);
     socket.on('connect', function(){
       main_info.innerHTML = "Loading";
       socket.emit('event_one', {data: 'I\'m connected'});
     })
    /*<!--( function GetIp(){
     var socket = io()
      socket.on('connect', function(){
          socket.emit('Hi!', {data: 'I\'m connected'});
      }
      );
      -->*/
      socket.on('run_update', function(payload){
        main_info.innerHTML = "<p>The nearest 🔥 to you</p><p>" + payload.data + "</p>";
      })
  </script>
  </body>
</html>

